@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald&display=swap');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'EB Garamond', serif;
    background-image: linear-gradient(to right, #1c75be, #474e74);
}

.container {
  width: 90%;
  margin: auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
    font-size: 3.2em;
    margin: 20px 0 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(250, 247, 249, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

form input {
    margin: 10px 0;
}


/* CSS */
button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  margin: 10px 0 10px 0;
  padding: 7px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.my-library {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-library p {
  margin: 0;
  line-height: 1.7;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    padding: 15px;
}

.remove {
    align-self: flex-end;
    border: 2px black solid;
}

